<template name="joinPage">
    <div id="joinPage" class="page page-base auth-page">
        <form class="join">
            <span>Phone number</span><br/>
            <input type="tel" name="phone"><br/>
            <br/>
            <span>Password</span><br/>
            <input type="text" name="password"><br/>
            <br/>
            <span>Repeat password</span><br/>
            <input type="text" name="repeat"><br/>
            <br/>
            <button type="submit">Join</button>
        </form>
    </div>
</template>