<template name="orderPage">
	<div id="orderPage" class="page order-page page-animate page-animate-start">
        <div class="input-wrapper">
            <input type="number" step="0.01" id="rate" name="rate" placeholder="Курс" value="{{rate}}" readonly />
            <span class="icon"><i class="ion-ios7-calculator"></i></span>
        </div>
        <div class="input-wrapper">
            <input type="text" step="1" min="0" id="amount" name="amount" pattern="[0-9]*" autocomplete="off" placeholder="Сумма"/>
            <span class="icon"><i class="ion-ios7-speedometer"></i></span>
        </div>
        <div class="input-wrapper">
            <input type="text" id="city" name="city" placeholder="Город" value="{{city}}"/>
            <span class="icon icon-bigger"><i class="ion-location"></i></span>
        </div>
        <div class="input-wrapper toggle-wrapper">
            <span class="icon"><i class="ion-ios7-navigate"></i></span>
            <label>Подъеду</label>
            <div class="toggle new-order-drive">
                <div class="toggle-handle"></div>
            </div>
        </div>
        <div class="input-wrapper toggle-wrapper">
            <span class="icon"><i class="ion-ios7-briefcase"></i></span>
            <label>Банк/ПОВ</label>
            <div class="toggle new-order-bank">
                <div class="toggle-handle"></div>
            </div>
        </div>
        <div class="input-wrapper comment-wrapper">
            <textarea id="comment" name="comment" placeholder="Комментарий"></textarea>
            <span class="icon"><i class="ion-chatbubble"></i></span>
        </div>

        <span class="line {{#if checked}}checked{{/if}}">
			{{type}} | {{rate}} | {{amount}} | {{phone}} | >> {{username}}
		</span>
		<span>
			<button class="check-order">Check</button>
			<button class="delete-order">Delete</button>
			{{#if isOwner}}
				<button class="mark-private">
					{{#if private}}
					Make public
					{{else}}
					Make private
					{{/if}}
				</button>
			{{/if}}
		</span>
	</div>
</template>