<template name="orderPage">
	<div class="order-page">
		<span>
			<a href="{{pathFor 'board'}}" class="my-btn">Back to board</a>
		</span>
		<span class="line {{#if checked}}checked{{/if}}">
			{{type}} | {{rate}} | {{amount}} | {{phone}} | >> {{username}}
		</span>
		<span>
			<button class="check-order">Check</button>
			<button class="delete-order">Delete</button>
			{{#if isOwner}}
				<button class="mark-private">
					{{#if private}}
					Make public
					{{else}}
					Make private
					{{/if}}
				</button>
			{{/if}}
		</span>
	</div>
</template>