@import '../main/main.less';

.board {
  .bar {
    position: relative;
    &.bar-filters {
      padding: 0 3%;
    }
  }
  .segmented-control {
    border: none;
    top: 8px !important;
    display: inline-block;
    &.filter-type {
      width: 40%;
    }
    &.filter-currency {
      width: 56%;
      margin-left: 2%;
    }
  }
}
.board-status {
  height: 30px;
  background-color: @color-light-green;
  line-height: 30px;
  padding-left: 10px;
  .status-city {
    display: inline-block;
    width: 70px;
    min-width: 50px;
    padding-right: 5px;
    vertical-align: bottom;
    .ellipsized();
  }
}
.board-order {
  position: relative;
  .order-link {
    display: inherit;
    width: 96%;
    color: inherit;
  }
  .order-open-icon {
    width: 4%;
    position: absolute;
    right: 3px;
    top: 7px;
    color: @color-dark-green;
  }
  .order-row {
    display: flex;
    height: 35px;
    text-align: center;
  }
  .advanced-row {
    display: none;
    font-size: 14px;
    line-height: 14px;
  }
  .order-col {
    display: inline-block;
    width: 33.333%;
    padding: 7px 0px 2px;// 10px;
    border-left: 1px solid #f1f1f1;
    .box-sizing(border-box);
    &.order-time {
      max-width: 25%;
    }
    &.order-currency {
      text-transform: uppercase;
    }
    &.order-icons {
      width: 55px;
      overflow: hidden;
      text-align: left;
      color: @color-green;
      border-left: none;
      .icon {
        font-size: 17px;
        line-height: 17px;
      }
    }
    &.order-city, &.order-name {
      width: 25%;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 2px;
      padding-right: 2px;
    }
    &.order-comment {
      width: 75%;
    }
  }
  &.show-advanced-row {
    .advanced-row {
      display: flex;
    }
    .order-row {
      height: 25px;
    }
    .order-col {
      padding-top: 2px;
    }
  }
}
.board-order:nth-child(odd) {
  background-color: white;
}
.board-order:nth-child(even) {
  background-color: @color-light-green;
}